<div class="container2" ng-controller='ProductoCrearCtrl'>
    <div class="margenPanelRigth">
        <fieldset>
            <legend>Nuevo producto</legend>
            <br />
            <alert ng-if="alert!=null" type="{{alert.type}}" close="closeAlert()">
                <span style="white-space: pre-line;">{{alert.msg}}</span>
            </alert>
            <tabset class="tab-container">
                <tab>
                    <tab-heading>
                        <i class="fa fa-list-alt"></i> Datos del producto
                    </tab-heading>
                    <div class="animated fadeIn">
                        <br/>
                        <div class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Tipo:</label>
                                        <div class="col-md-10">
                                            <select
                                                name="repeatSelect"
                                                class="form-control"
                                                id="repeatSelect" 
                                                ng-model="producto.IdCategoria"
                                                ng-options="option.Id as option.Nombre for option in listaCategoria"
                                                required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Costo:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="producto.Costo" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Nombre:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Nombre de producto"
                                                ng-model="producto.Nombre" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Costo Unit.:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="producto.CostoUnitario" disabled>
                                        </div>
                                    </div>
                                </div>                          
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Porciones:</label>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control" placeholder="Número de porciones" 
                                                ng-model="producto.Porciones" required min="1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Precio:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="producto.Precio" disabled>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputType" class="col-md-2 control-label">Rendimiento:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="producto.Rendimiento" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="fieldset-border">
                                <legend class="legend-border">Informaci&oacute;n nutricional</legend>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="inputType" class="col-md-4 control-label">Grasas:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="producto.Grasas" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="inputType" class="col-md-4 control-label">Proteinas:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="producto.Proteinas" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="inputType" class="col-md-4 control-label">Calorias:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="producto.Calorias" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="inputType" class="col-md-5 control-label">Carbihidratos:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="producto.Carbohidratos" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-tasks"></i> Preparaci&oacute;n
                    </tab-heading>
                    <div class="animated fadeIn">
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="13" style="min-width: 100%"
                                        ng-model="producto.Elaboracion" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
            <fieldset class="fieldset-border">
                <legend class="legend-border">Insumos</legend>
                <div class="row">
                    <div class="form-group row col-md-3">
                        <span class="input-group-btn" style="padding-left:5px;">
                            <a class="btn" ng-click="open()"  title='Agregar ingrediente' ng-if="producto.Porciones > 0">
                                Agregar insumos
                            </a>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="gridSolicitud">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Insumo</th>
                                        <th class="text-center">Cant.</th>
                                        <th class="text-center">Unid. Med.</th>
                                        <th class="text-center">Costo Unid.</th>
                                        <th class="text-center">% Rendim.</th>
                                        <th class="text-center">Importe</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-right">Costo Total:</td>
                                        <td>{{ producto.Costo }}</td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr ng-repeat="item in Insumos" class="link">
                                        <td>{{ item.Nombre }}</td>
                                        <td class="text-right">{{ item.Cantidad }}</td>
                                        <td class="text-center">{{ item.UnidadMedida }}</td>
                                        <td class="text-right">{{ item.Costo }}</td>
                                        <td class="text-right">{{ item.Rendimiento }}</td>
                                        <td class="text-right">{{ item.Importe }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="form-group row col-md-3">
                    <span class="input-group-btn" style="padding-left:5px;">
                        <button class="btn btn-primary" ng-click="grabar()">
                            <span class='glyphicon glyphicon-floppy-disk' ng-click="grabar()">
                                Grabar
                            </span>
                        </button>
                    </span>
                </div>
            </div>
        </fieldset>
        <script type="text/ng-template" id="modalContent.html">
            <div ng-include="'views/template/insumos.html'"></div>
        </script>
    </div>
</div>