<div class="modal-header">
    <h3 class="modal-title">Agregar insumos</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="icon-addon addon-sm">
            <input type="text" ng-model="busqueda.nombre" placeholder="Buscar" class="form-control" ng-change="buscar()">
            <label for="buscar" class="glyphicon glyphicon-search" rel="tooltip" title="Buscar"></label>
        </div>
        {{search}}
    </div>
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Unid. Med.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in filterList | start: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage"
            ng-click="selected.item = row" class="link">
                <td>{{ row.Nombre }}</td>
                <td>{{row.UnidadMedida}}</td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="filterList.length" ng-model="currentPage"
        class="pagination-sm" items-per-page="itemsPerPage"></pagination>
    <br/>
    <fieldset>
        <legend>Insumo: <b>{{ selected.item.Nombre }}</b></legend>
        <form name="frm">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Cant.:</span>
                        <input type="number" class="form-control" placeholder="Cantidad" 
                            aria-describedby="basic-addon1" ng-model="selected.cantidad"
                            min="0.1">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">% Rendim.:</span>
                        <input type="number" class="form-control" placeholder="Rendimiento"
                            aria-describedby="basic-addon1" ng-model="selected.rendimiento"
                            min="0.1" max="1">
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="frm.$invalid">Agregar</button>
</div>