<div class="container2" ng-controller='SolicitudRetiroCrearCtrl'>
    <div class="margenPanelRigth">
        <fieldset>
            <legend>Nueva solicitud de retiro de carta</legend>
            <div class="animated fadeIn">
                
                <div class="form-horizontal" role="form">
                    <fieldset class="fieldset-border">
                        <legend class="legend-border">Productos a retirar</legend>
                        <div class="row">
                            <div class="form-group row col-md-3">
                                <span class="input-group-btn" style="padding-left:5px;">
                                    <a class="btn" title='Limpiar lista'>
                                        Limpiar lista
                                    </a>
                                    <a class="btn" ng-click="open()" title='Agregar combo'>
                                        Agregar combo
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="gridSolicitud">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Combo</th>
                                                <th class="text-center">Vta. Proy.</th>
                                                <th class="text-center">% Aporte</th>
                                                <th class="text-center">Vta. Real</th>
                                                <th class="text-center">Saldo</th>
                                                <th class="text-center">% Cump.</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in CombosxRetiro" class="link">
                                                <td>{{ item.Nombre }}</td>
                                                <td class="text-right">{{ item.VentaProyectada }}</td>
                                                <td class="text-center">{{ item.PorcentajeAporte }}</td>
                                                <td class="text-center">{{ item.VentaReal }}</td>
                                                <td class="text-right">{{ item.Saldo }}</td>
                                                <td class="text-right">{{ item.PorcentajeCumplimiento }}</td>
                                                <td class="text-right">
                                                    <a ng-click="eliminar(producto.Id)" href="#"  title="Eliminar combo">Eliminar</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="text-right">Totales</td>
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>
                                                <th class="text-center"></th>
                                                <td class="text-right"></td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                    <br/>
                                    <div class="form-row">                                        
                                        <div class="form-group col-md-6">
                                            <label class="col-form-label">Comentario:</label>
                                            <textarea placeholder="Ingrese un comentario" class="form-control" rows="2" style="min-width: 80%" ng-model="solicitudretiro.Comentario"></textarea>
                                        </div>                                        
                                        <div class="form-group col-md-6" style="background-color:antiquewhite;">
                                            <label class="col-form-label">Ingreso proyectado afecto:</label>
                                            <input type="text" class="form-control" ng-model="IngresoProyectadoAfecto" disabled>
                                            </br>
                                        </div>                          
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="fieldset-border">
                        <legend class="legend-border">Simulaci&oacute;n de proyecci&oacute;n</legend>
                        <fieldset>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label class="col-form-label">Tipo de simulaci&oacute;n</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                        Distribuci&oacute;n en todos los combos activos de la carta
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                        Distribuci&oacute;n personalizada
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="form-group row col-md-3">
                                <span class="input-group-btn" style="padding-left:5px;">
                                    <a class="btn" title='Realizar simulaci&oacute;n'>
                                        Realizar simulaci&oacute;n
                                    </a>
                                </span>
                                <span class="input-group-btn" style="padding-left:5px;">
                                    <a class="btn" ng-click="open2()" title='Agregar combo'>
                                        Agregar combo
                                    </a>
                                </span>
                                <span class="input-group-btn" style="padding-left:5px;">
                                    <a class="btn" title='Limpiar simulaci&oacute;n'>
                                        Limpiar simulaci&oacute;n
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="gridSolicitud">
                                    <table class="table table-bordered table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Combo</th>
                                                <th class="text-center">Vta. Proy.</th>
                                                <th class="text-center">% Aporte</th>
                                                <th class="text-center">Nueva Vta. Proy.</th>
                                                <th class="text-center">% Nuevo Aporte</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in CombosxProyeccion" class="link">
                                                <td class="text-left">{{ item.Nombre }}</td>
                                                <td class="text-right">{{ item.VentaProyectada }}</td>
                                                <td class="text-center">{{ item.PorcentajeAporte }}</td>
                                                <td class="text-right">{{ item.VentaProyectadaNueva }}</td>
                                                <td class="text-right">{{ item.PorcentajeNuevoAporte }}</td>
                                                <td class="text-right">
                                                    <a ng-click="eliminar(producto.Id)" href="#"  title="Eliminar combo">Eliminar</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                    <div class="form-group row col-md-3">
                        <span class="input-group-btn" style="padding-left:5px;">
                            <a class="btn btn-primary" ui-sref="app.crearSolicitudRetiro"  title='Grabar solicitud'>
                                <span class='glyphicon glyphicon-floppy-disk' ng-click="grabar()">
                                    Grabar
                                </span>
                            </a>
                        </span>
                    </div>
            </div>
        </fieldset>
        <script type="text/ng-template" id="modalContent.html">
            <div ng-include="'views/template/combo.html'"></div>
        </script>
    </div>
</div>